* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Sedgwick+Ave+Display&display=swap");

body {
  background-color: #222;
}

.card {
  width: 90%;
  max-width: 470px;
  background: linear-gradient(135deg, #d80303f0, #dee602);
  margin: 100px auto 0;
  padding: 30px 35px;
  border-radius: 20px;
  text-align: center;
  color: white;
}

.search {
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 20px;
}

.search input {
  border: 0;
  outline: 0;
  background: #d9994bf0;
  color: #160d02f0;
  padding: 10px 25px;
  height: 60px;
  border-radius: 30px;
  flex: 1;
  margin-right: 16px;
  font-size: 18px;
}
.search button {
  border: 0;
  outline: 0;
  background: none;
  border-radius: 50px;
  width: 60px;
  cursor: pointer;
}
.search button img {
  width: 30px;
}

.whether-icon{
    width: 170px ;
    margin-top: 30px;
    
}
.whether h1{
    font-size: 80px;
    font-weight: 500;
}
.whether h2{
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
}
.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
}

.col
{
    display: flex;
    align-items: center;
    text-align: left;

}
.col img{
    width: 40px;
    margin-right: 10px;

}

.humidity,.wind{
    font-size:28px ;
    margin-top: -6px    ;
}